# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Mac system files
.DS_Store

# VS Code settings
.vscode/
# env
.env
trello-lite-server/.env
